In [1]:
from aframe import AFrame
import pandas as pd

In [2]:
af = AFrame(dataverse='test', dataset='TweetItems')

In [3]:
af

AsterixDB DataFrame with the following known columns:
	[{'name': 'row_id', 'type': 'int32', 'nullable': False}]

In [4]:
len(af)

5981

In [5]:
af.columns

"[{'name': 'row_id', 'type': 'int32', 'nullable': False}]"

In [6]:
df = af.toPandas()

In [7]:
df.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,uuid,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name...",5517ec1b-34f9-1e47-36bd-f78b48e6743a,NaN
1,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,False,{'created_at': 'Wed Feb 07 22:54:04 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @EdKrassen: Nancy Pelosi has more Enerygy a...,2018-02-08 05:18:41.705,False,"{'id': 50667682, 'id_str': '50667682', 'name':...",5517ec1b-34f9-1e47-36bd-f78b48e6743d,NaN
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b,NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c,NaN
4,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name...",5517ec1b-34f9-1e47-36bd-f78b48e6743e,NaN

In [8]:
df.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'extended_tweet', 'favorite_count',
       'favorited', 'filter_level', 'geo', 'id', 'id_str',
       'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'place',
       'possibly_sensitive', 'quote_count', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'reply_count',
       'retweet_count', 'retweeted', 'retweeted_status', 'source', 'text',
       'timestamp_ms', 'truncated', 'user', 'uuid', 'withheld_in_countries'],
      dtype='object')

In [9]:
af['truncated'].head(2)

        truncated
row_id
0           False
1           False

In [10]:
df['truncated'].head(2)

row_id
0    False
1    False
Name: truncated, dtype: bool

In [11]:
af[af['truncated'] == True].head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,favorite_count,favorited,filter_level,geo,...,quoted_status_id_str,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,uuid
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,NaN,...,9.561978e+17,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@realDonaldTrump The Russian As...,0,False,low,NaN,...,NaN,0,0,False,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c

In [12]:
df[df['truncated'] == True].head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,uuid,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b,NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c,NaN

In [13]:
a = af['truncated']
print(a.query)

from test.TweetItems_c t select t.row_id, t.data.truncated;

In [14]:
a = af['truncated'] == True
print(a.query)

with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated=True truncated;

In [15]:
a = af[af['truncated'] == True]
print(a.query)

with q as(with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated=True truncated)
from q t1 LEFT OUTER JOIN test.TweetItems_c t on t.row_id=t1.row_id where t1.truncated select value t;

In [16]:
a = (af['truncated'] == True) & (af['favorited'] == False)
print(a.query)

with q1 as (with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated=True truncated),
  q2 as(with q as(from test.TweetItems_c t select t.row_id, t.data.favorited) from q t select t.row_id, t.favorited=False favorited)
 from q1 t, q2 t2 where t.row_id=t2.row_id select t.row_id, t.truncated and t2.favorited as result;

In [17]:
a.head()

        result
row_id
0        False
1        False
2         True
3         True
4        False

In [18]:
b = (df['truncated'] == True) & (df['favorited'] == False)
b.head()

row_id
0    False
1    False
2     True
3     True
4    False
dtype: bool

In [19]:
a = af[(af['truncated'] == True) & (af['favorited'] == False)]
print(a.query)

with q as(with q1 as (with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated=True truncated),
  q2 as(with q as(from test.TweetItems_c t select t.row_id, t.data.favorited) from q t select t.row_id, t.favorited=False favorited)
 from q1 t, q2 t2 where t.row_id=t2.row_id select t.row_id, t.truncated and t2.favorited as result)
from q t1 LEFT OUTER JOIN test.TweetItems_c t on t.row_id=t1.row_id where t1.result select value t;

In [20]:
a.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,favorite_count,favorited,filter_level,geo,...,quoted_status_id_str,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,uuid
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,NaN,...,9.561978e+17,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@realDonaldTrump The Russian As...,0,False,low,NaN,...,NaN,0,0,False,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c

In [21]:
b = df[(df['truncated'] == True) & (df['favorited'] == False)]
b.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,uuid,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b,NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c,NaN

In [22]:
df_a = a.collect()
print('AFrame cnt: %d' % len(df_a))
print('DataFrame cnt: %d' % len(b))

AFrame cnt: 564
DataFrame cnt: 564

In [23]:
df.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,uuid,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name...",5517ec1b-34f9-1e47-36bd-f78b48e6743a,NaN
1,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,False,{'created_at': 'Wed Feb 07 22:54:04 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @EdKrassen: Nancy Pelosi has more Enerygy a...,2018-02-08 05:18:41.705,False,"{'id': 50667682, 'id_str': '50667682', 'name':...",5517ec1b-34f9-1e47-36bd-f78b48e6743d,NaN
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",5517ec1b-34f9-1e47-36bd-f78b48e6743b,NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",5517ec1b-34f9-1e47-36bd-f78b48e6743c,NaN
4,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name...",5517ec1b-34f9-1e47-36bd-f78b48e6743e,NaN

In [24]:
df = df.reset_index()

In [25]:
df2 = df

In [26]:
df3 = pd.concat([df,df2])

In [27]:
hdf = df.head()
hdf2 = df2.head()

In [28]:
hdf3 = pd.concat([hdf,hdf2])

In [29]:
hdf3

,id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,...,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,uuid,withheld_in_countries
0,961689995286212609,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 19:43:09 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...","RT @Innrdreams: Right, GOP and Cabinet are com...",2018-02-08 19:55:36.869,False,"{'id': 302062283, 'id_str': '302062283', 'name...",2fe6a60f-0210-01fe-b2ee-4d82a220c094,NaN
1,961689995734958080,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [{'text': 'RemoveNunes', 'indices...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 14:50:34 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @SaysHummingbird: Every single person who r...,2018-02-08 19:55:36.976,False,"{'id': 56721343, 'id_str': '56721343', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c095,NaN
2,961689995965845506,NaN,None,2018-02-08 19:55:37,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 12:27:12 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @BillKristol: The party of Lincoln today: B...,2018-02-08 19:55:37.031,False,"{'id': 34756964, 'id_str': '34756964', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c096,NaN
3,961689995793887232,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 19:54:15 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @RawStory: These 14 Trump tweets perfectly ...,2018-02-08 19:55:36.990,False,"{'id': 230485548, 'id_str': '230485548', 'name...",2fe6a60f-0210-01fe-b2ee-4d82a220c097,NaN
4,961689996557131776,NaN,None,2018-02-08 19:55:37,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 02:53:49 +0000 2018...,"<a href=""http://twitter.com/download/android"" ...",RT @david_j_roth: It's weird how every single ...,2018-02-08 19:55:37.172,False,"{'id': 15338832, 'id_str': '15338832', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c098,NaN
0,961689995286212609,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 19:43:09 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...","RT @Innrdreams: Right, GOP and Cabinet are com...",2018-02-08 19:55:36.869,False,"{'id': 302062283, 'id_str': '302062283', 'name...",2fe6a60f-0210-01fe-b2ee-4d82a220c094,NaN
1,961689995734958080,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [{'text': 'RemoveNunes', 'indices...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 14:50:34 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @SaysHummingbird: Every single person who r...,2018-02-08 19:55:36.976,False,"{'id': 56721343, 'id_str': '56721343', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c095,NaN
2,961689995965845506,NaN,None,2018-02-08 19:55:37,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 12:27:12 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @BillKristol: The party of Lincoln today: B...,2018-02-08 19:55:37.031,False,"{'id': 34756964, 'id_str': '34756964', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c096,NaN
3,961689995793887232,NaN,None,2018-02-08 19:55:36,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 19:54:15 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @RawStory: These 14 Trump tweets perfectly ...,2018-02-08 19:55:36.990,False,"{'id': 230485548, 'id_str': '230485548', 'name...",2fe6a60f-0210-01fe-b2ee-4d82a220c097,NaN
4,961689996557131776,NaN,None,2018-02-08 19:55:37,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,False,{'created_at': 'Thu Feb 08 02:53:49 +0000 2018...,"<a href=""http://twitter.com/download/android"" ...",RT @david_j_roth: It's weird how every single ...,2018-02-08 19:55:37.172,False,"{'id': 15338832, 'id_str': '15338832', 'name':...",2fe6a60f-0210-01fe-b2ee-4d82a220c098,NaN

In [ ]:
hdf3.loc[[0]]

In [ ]:
hdf3[2:3]

In [ ]:
hdf3_copy = hdf3

In [ ]:
hdf3_copy

In [ ]:
hdf3.join(hdf3_copy, rsuffix='copy')