In [1]:
from aframe import AFrame
import pandas as pd

In [2]:
af = AFrame(dataverse='TinySocial', dataset='GleambookUsers')

In [3]:
af

AsterixDB DataFrame with the following pre-defined columns:
	[{'id': 'int64'}, {'alias': 'string'}, {'name': 'string'}, {'userSince': 'datetime'}, {'friendIds': 'GleambookUserType_friendIds'}, {'employment': 'GleambookUserType_employment'}]

In [4]:
len(af)

10

In [5]:
af.columns

[{'id': 'int64'},
 {'alias': 'string'},
 {'name': 'string'},
 {'userSince': 'datetime'},
 {'friendIds': 'GleambookUserType_friendIds'},
 {'employment': 'GleambookUserType_employment'}]

In [6]:
df = af.toPandas()

In [7]:
df.head()

,alias,employment,friendIds,gender,id,name,nickname,userSince
0,Margarita,"[{'organizationName': 'Codetechno', 'startDate...","[2, 3, 6, 10]",F,1,MargaritaStoddard,Mags,2012-08-20T10:10:00.000Z
1,Isbel,"[{'organizationName': 'Hexviafind', 'startDate...","[1, 4]",NaN,2,IsbelDull,Izzy,2011-01-22T10:10:00.000Z
2,Emory,"[{'organizationName': 'geomedia', 'startDate':...","[1, 5, 8, 9]",NaN,3,EmoryUnk,NaN,2012-07-10T10:10:00.000Z
3,Nicholas,"[{'organizationName': 'Zamcorporation', 'start...",[2],NaN,4,NicholasStroh,NaN,2010-12-27T10:10:00.000Z
4,Von,"[{'organizationName': 'Kongreen', 'startDate':...","[3, 6, 10]",NaN,5,VonKemble,NaN,2010-01-05T10:10:00.000Z

In [8]:
df.columns

Index(['alias', 'employment', 'friendIds', 'gender', 'id', 'name', 'nickname',
       'userSince'],
      dtype='object')

In [9]:
af['alias'].head(2)

           0
0  Margarita
1      Isbel

In [10]:
df['employment'].head(2)

0    [{'organizationName': 'Codetechno', 'startDate...
1    [{'organizationName': 'Hexviafind', 'startDate...
Name: employment, dtype: object

In [16]:
af[af['alias'] == 'Isbel'].query

'SELECT VALUE t FROM TinySocial.GleambookUsers t WHERE t.alias = "Isbel";'

In [12]:
df[df['truncated'] == True].head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN

In [13]:
a = af['truncated']
print(a.query)

select value t.truncated from test.TweetItems t;

In [14]:
a = af['truncated'] == True
print(a.query)

select value t.truncated = True from test.TweetItems t;

In [15]:
a = af[af['truncated'] == True]
print(a.query)

with q as(with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated = True truncated)
from q t1 LEFT OUTER JOIN test.TweetItems_c t on t.row_id=t1.row_id where t1.truncated select value t;

In [16]:
a = (af['truncated'] == True) & (af['favorited'] == False)
print(a.query)

with q1 as (with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated = True truncated),
  q2 as(with q as(from test.TweetItems_c t select t.row_id, t.data.favorited) from q t select t.row_id, t.favorited = False favorited)
 from q1 t, q2 t2 where t.row_id=t2.row_id select t.row_id, t.truncated and t2.favorited as result;

In [17]:
a.head()

        result
row_id
0        False
1        False
2         True
3         True
4        False

In [18]:
b = (df['truncated'] == True) & (df['favorited'] == False)
b.head()

row_id
0    False
1    False
2     True
3     True
4    False
dtype: bool

In [19]:
a = af[(af['truncated'] == True) & (af['favorited'] == False)]
print(a.query)

with q as(with q1 as (with q as(from test.TweetItems_c t select t.row_id, t.data.truncated) from q t select t.row_id, t.truncated = True truncated),
  q2 as(with q as(from test.TweetItems_c t select t.row_id, t.data.favorited) from q t select t.row_id, t.favorited = False favorited)
 from q1 t, q2 t2 where t.row_id=t2.row_id select t.row_id, t.truncated and t2.favorited as result)
from q t1 LEFT OUTER JOIN test.TweetItems_c t on t.row_id=t1.row_id where t1.result select value t;

In [20]:
a.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,favorite_count,favorited,filter_level,geo,...,quoted_status_id,quoted_status_id_str,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,NaN,...,9.561978e+17,9.561978e+17,0,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703..."
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@realDonaldTrump The Russian As...,0,False,low,NaN,...,NaN,NaN,0,0,False,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742..."

In [21]:
b = df[(df['truncated'] == True) & (df['favorited'] == False)]
b.head(2)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN

In [22]:
df_a = a.collect()
print('AFrame cnt: %d' % len(df_a))
print('DataFrame cnt: %d' % len(b))

AFrame cnt: 564
DataFrame cnt: 564

In [23]:
df[2:10]

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
3,NaN,None,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742...",NaN
4,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name...",NaN
5,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,0,0,False,NaN,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",Mueller Wants to Interview Trump. Is It a ‘Per...,2018-02-08 05:18:41.821,False,"{'id': 48470839, 'id_str': '48470839', 'name':...",NaN
6,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [{'text': 'USA', 'indices': [104,...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 04:39:10 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @ejmalrai: Pro-Trump occupation troops atta...,2018-02-08 05:18:41.931,False,"{'id': 757106302850064384, 'id_str': '75710630...",NaN
7,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 20:52:19 +0000 2018...,"<a href=""http://twitter.com/download/android"" ...",RT @PalmerReport: Donald Trump‘s day so far:\n...,2018-02-08 05:18:41.972,False,"{'id': 42078979, 'id_str': '42078979', 'name':...",NaN
8,NaN,None,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961411255184515072, 'id_str'...",NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 01:28:33 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @treasonstickers: Trump's entire purpose fo...,2018-02-08 05:18:42.224,False,"{'id': 782036781780918272, 'id_str': '78203678...",NaN
9,NaN,None,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 16:19:21 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @keithboykin: Quincy Jones: Michael Jackson...,2018-02-08 05:18:42.238,False,"{'id': 1389352638, 'id_str': '1389352638', 'na...",NaN

In [24]:
af[2:10].query

'select value t from test.TweetItems_c t where t.row_id >= 2 and t.row_id < 10;'

In [25]:
af[2:10].collect()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,quoted_status_id_str,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
row_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,9.561978e+17,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703..."
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,NaN,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742..."
4,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name..."
5,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,NaN,0,False,low,...,NaN,0,0,False,NaN,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",Mueller Wants to Interview Trump. Is It a ‘Per...,2018-02-08 05:18:41.821,False,"{'id': 48470839, 'id_str': '48470839', 'name':..."
6,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [{'text': 'USA', 'indices': [104,...",NaN,NaN,0,False,low,...,9.614328e+17,0,0,False,{'created_at': 'Thu Feb 08 04:39:10 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @ejmalrai: Pro-Trump occupation troops atta...,2018-02-08 05:18:41.931,False,"{'id': 757106302850064384, 'id_str': '75710630..."
7,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 20:52:19 +0000 2018...,"<a href=""http://twitter.com/download/android"" ...",RT @PalmerReport: Donald Trump‘s day so far:\n...,2018-02-08 05:18:41.972,False,"{'id': 42078979, 'id_str': '42078979', 'name':..."
8,NaN,NaN,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961411255184515072, 'id_str'...",NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Thu Feb 08 01:28:33 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @treasonstickers: Trump's entire purpose fo...,2018-02-08 05:18:42.224,False,"{'id': 782036781780918272, 'id_str': '78203678..."
9,NaN,NaN,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 16:19:21 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @keithboykin: Quincy Jones: Michael Jackson...,2018-02-08 05:18:42.238,False,"{'id': 1389352638, 'id_str': '1389352638', 'na..."

In [26]:
df[:10:2]

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user,withheld_in_countries
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name...",NaN
2,NaN,None,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703...",NaN
4,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name...",NaN
6,NaN,None,2018-02-08 05:18:41,NaN,"{'hashtags': [{'text': 'USA', 'indices': [104,...",NaN,NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 04:39:10 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @ejmalrai: Pro-Trump occupation troops atta...,2018-02-08 05:18:41.931,False,"{'id': 757106302850064384, 'id_str': '75710630...",NaN
8,NaN,None,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961411255184515072, 'id_str'...",NaN,0,False,low,...,0,0,False,{'created_at': 'Thu Feb 08 01:28:33 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @treasonstickers: Trump's entire purpose fo...,2018-02-08 05:18:42.224,False,"{'id': 782036781780918272, 'id_str': '78203678...",NaN

In [27]:
af[:10:2].query

'select value t from test.TweetItems_c t where t.row_id in [0, 2, 4, 6, 8];'

In [28]:
af[:10:2].collect()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,quoted_status_id_str,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name..."
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,9.561978e+17,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703..."
4,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name..."
6,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [{'text': 'USA', 'indices': [104,...",NaN,NaN,0,False,low,...,9.614328e+17,0,0,False,{'created_at': 'Thu Feb 08 04:39:10 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @ejmalrai: Pro-Trump occupation troops atta...,2018-02-08 05:18:41.931,False,"{'id': 757106302850064384, 'id_str': '75710630..."
8,NaN,NaN,2018-02-08 05:18:42,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961411255184515072, 'id_str'...",NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Thu Feb 08 01:28:33 +0000 2018...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",RT @treasonstickers: Trump's entire purpose fo...,2018-02-08 05:18:42.224,False,"{'id': 782036781780918272, 'id_str': '78203678..."

In [29]:
af[:5].head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,quoted_status_id_str,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name..."
1,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 22:54:04 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @EdKrassen: Nancy Pelosi has more Enerygy a...,2018-02-08 05:18:41.705,False,"{'id': 50667682, 'id_str': '50667682', 'name':..."
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,9.561978e+17,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703..."
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,NaN,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742..."
4,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name..."

In [30]:
af[af['favorite_count'] > -1].head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,filter_level,...,quoted_status_id_str,reply_count,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
row_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 961400756740923392, 'id_str'...",NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Thu Feb 08 00:46:19 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @MicahGrimes: 2 iconic photos. 1 year. Only...,2018-02-08 05:18:41.604,False,"{'id': 320000200, 'id_str': '320000200', 'name..."
1,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 22:54:04 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @EdKrassen: Nancy Pelosi has more Enerygy a...,2018-02-08 05:18:41.705,False,"{'id': 50667682, 'id_str': '50667682', 'name':..."
2,NaN,NaN,2018-02-08 05:18:41,"[0, 140]","{'hashtags': [{'text': 'POTUS', 'indices': [66...",NaN,{'full_text': 'CNN - INTERNATIONAL . THE LEAST...,0,False,low,...,9.561978e+17,0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",CNN - INTERNATIONAL . THE LEAST TRUSTED NAME...,2018-02-08 05:18:41.713,True,"{'id': 882677034429710336, 'id_str': '88267703..."
3,NaN,NaN,2018-02-08 05:18:41,"[17, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@realDonaldTrump The Russian As...,0,False,low,...,NaN,0,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",@realDonaldTrump The Russian Asset Donald Trum...,2018-02-08 05:18:41.773,True,"{'id': 958747420904497153, 'id_str': '95874742..."
4,NaN,NaN,2018-02-08 05:18:41,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,low,...,NaN,0,0,False,{'created_at': 'Wed Feb 07 15:48:03 +0000 2018...,"<a href=""http://twitter.com/download/iphone"" r...",RT @nowthisnews: This Trump supporter used the...,2018-02-08 05:18:41.802,False,"{'id': 749752742, 'id_str': '749752742', 'name..."