In [1]:
import ray.dataframe as pdr
import pandas as pd
import ray

Waiting for redis server at 127.0.0.1:12675 to respond...
Waiting for redis server at 127.0.0.1:59906 to respond...
Starting local scheduler with the following resources: {'CPU': 8, 'GPU': 0}.

======================================================================
View the web UI at http://localhost:8889/notebooks/ray_ui87357.ipynb?token=f4583ce3654f95e8637ad737dac904fcdb88752562e835ab
======================================================================

In [3]:
data = [('Amy',25),('Joe',30),('John',22),('Jane',20),('Tim',26) ]

In [52]:
ray_df = pdr.read_csv('data/titanic.csv')

In [53]:
df = pd.read_csv('data/titanic.csv')

In [59]:
df = df.head(10)

In [58]:
ray_df=ray_df.head(10)

In [60]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [61]:
df[df['Sex'] =='female']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C

In [72]:
(ray_df['Age'] > 30)

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Age, dtype: bool

In [80]:
(ray_df['Age'] > 30) & (ray_df['Embarked'] == 'S')

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [87]:
ray_df[ray_df['Age']>20]

ValueError: Length mismatch: Expected axis has 8 elements, new values have 10 elements