In [1]:
import pandas as pd
import findspark
findspark.init()
import pyspark
from pyspark.sql import Row
from pyspark.sql import SQLContext
from pyspark import SparkContext

In [2]:
sc = SparkContext(appName="app")

In [3]:
sqlContext = SQLContext(sc)

In [50]:
data = [('Amy',25),(23,'Joe',3.1415),('John',22),('Jane',20),('Tim',26) ]

In [48]:
rdd = sc.parallelize(data)

In [49]:
# pySparkDF = sqlContext.createDataFrame(rdd, ['name', 'age'])
pySparkDF2 = sqlContext.createDataFrame(rdd)
pySparkDF2
print(pySparkDF2)
print(pySparkDF2.collect())

DataFrame[_1: string, _2: bigint]
[Row(_1='Amy', _2=25), Row(_1='John', _2=None), Row(_1='Jane', _2=20), Row(_1='Tim', _2=26)]

In [52]:
pandasDF = pd.DataFrame(data)
print(pandasDF)
print(pandasDF.columns)

      0    1       2
0   Amy   25     NaN
1    23  Joe  3.1415
2  John   22     NaN
3  Jane   20     NaN
4   Tim   26     NaN
RangeIndex(start=0, stop=3, step=1)

In [8]:
pySparkDF

DataFrame[name: string, age: bigint]

In [9]:
pandasDF

   name  age
0   Amy   25
1  John   22
2  Jane   20
3   Tim   26

In [10]:
pySparkDF.collect()

[Row(name='Amy', age=25),
 Row(name='John', age=22),
 Row(name='Jane', age=20),
 Row(name='Tim', age=26)]

In [11]:
pySparkDF.toPandas()

   name  age
0   Amy   25
1  John   22
2  Jane   20
3   Tim   26

In [12]:
pySparkDF.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [13]:
pySparkDF.describe().show()

+-------+----+------------------+
|summary|name|               age|
+-------+----+------------------+
|  count|   4|                 4|
|   mean|null|             23.25|
| stddev|null|2.7537852736430515|
|    min| Amy|                20|
|    max| Tim|                26|
+-------+----+------------------+

In [24]:
pySparkDF.filter((pySparkDF['age'] >= 22) & (pySparkDF['name'] != 'John')).select('name')
# select p.name from people p where p.age >= 22 and p.name != 'John'
col = pySparkDF['age'] >= 22

print(col)

Column<b'(age >= 22)'>

In [16]:
pySparkDF.select('name').filter((pySparkDF['age'] >= 22) & (pySparkDF['name'] != 'John')).show()

+----+
|name|
+----+
| Amy|
| Tim|
+----+

In [17]:
pandasDF['name'][(pandasDF['age'] >= 22) & (pandasDF['name'] != 'John')]

0    Amy
3    Tim
Name: name, dtype: object